.container {
  position: absolute;
  z-index: 100;
  width: 700px;
  height: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

h1 {
  font-size: 90px;
  font-size: 900;
}

.form-button {
  width: 30%;
  padding: 10px;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
